# Compiled or optimized Python files
__pycache__
*.py[cod]
*$py.class

# Distribution/packaging
/build
*.egg-info

# Virtual environments
.venv

# Linters
.mypy_cache

# Testing
.pytest_cache

# Editor files
*.swp

# OS-specific metadata

## Linux
*~
.directory
.fuse_hidden*
.nfs*

## macOS
.DS_Store
._*

## Windows
[dD]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable
